body {
	background: no-repeat url('/bg-1.jpg');
	background-size: cover;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.headerRow {
	display: flex;
	align-items: center;
	margin: 1rem auto;
	/* border: 1px solid white; */
	justify-content: space-around;
	padding: 10px;
}
#date {
	width: 50%;
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	font-family: 'Poppins';
}
.operationSection {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.operationSection > .searchSection {
	/* border: 1px solid white; */
	background-color: #2e2e2e;
	border-radius: 10px;
}

form {
	display: flex;
	align-items: center;
	/* border: 1px solid #ccc; */
	padding: 10px;
	border-radius: 5px;
}

.searchInput {
	padding: 5px;
	font-size: 18px;
	/* line-height: 20px; */
	/* border: 1px solid white; */
	border-radius: 5px;
	background-color: black;
	color: white;
}

.searchButton {
	background-color: #161515;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 6px 10px;
	margin-left: 10px;
	cursor: pointer;
}
.searchButton > .fa {
	font-size: 22px;
}

.addRemove {
	width: max-content;
	padding: 10px 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2e2e2e;
	border-radius: 10px;
}
.addBtn {
	background-color: blue;
	padding: 7px;
	font-size: 18px;
	font-weight: 600;
	color: white;
	border: none;
	border-radius: 5px;
	margin-right: 1rem;
	cursor: pointer;
	/* padding: 5px; */
	/* height: 100%;
	width: 100%; */
}
.removeBtn {
	background: none;
	cursor: pointer;
	font-size: 18px;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 5px;
	/* height: 100%;
	width: 100%; */
}
